.App {
  width: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Courier New', Courier, monospace; */
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.container::before{
    content: '';
    display: block;
    height: 1px;
    width: 86px;
    background: #0000004D;
    transform: rotate(90deg);
    position: absolute;
    right: calc(100%/2 - 43px);
    top: -9px;
}

.container::after{
  content: '';
  display: block;
  height: 1px;
  width: 86px;
  background: #0000004D;
  transform: rotate(90deg);
  position: absolute;
  right: calc(100%/2 - 43px);
  bottom: 86px;
}


