.App {
  width: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Courier New', Courier, monospace; */
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.containerLine-white::before{
    content: '';
    display: block;
    height: 1px;
    width: 86px;
    background: #FFFFFFA3;
    transform: rotate(90deg);
    position: absolute;
    right: calc(100%/2 - 43px);
    top: -9px;
}

.containerLine-white::after{
  content: '';
  display: block;
  height: 1px;
  width: 86px;
  background:  #FFFFFFA3;
  transform: rotate(90deg);
  position: absolute;
  right: calc(100%/2 - 43px);
  bottom: 86px;
}

.containerLine-grey::before{
  content: '';
  display: block;
  height: 1px;
  width: 86px;
  background: #0000004D;
  transform: rotate(90deg);
  position: absolute;
  right: calc(100%/2 - 43px);
  top: -9px;
}

.containerLine-grey::after{
content: '';
display: block;
height: 1px;
width: 86px;
background: #0000004D;
transform: rotate(90deg);
position: absolute;
right: calc(100%/2 - 43px);
bottom: 86px;
}




.gorizontalDecorLine-white::before{
  content: '';
  display: block;
  height: 1px;
  width: 88px;
  background: #FFFFFF4D;
  position: absolute;
  top: calc(100%/2 - 0.5px);
  left: -166px;
}

.gorizontalDecorLine-grey::before{
  content: '';
  display: block;
  height: 1px;
  width: 88px;
  background: #3333334D;
  position: absolute;
  top: calc(100%/2 - 0.5px);
  left: -166px;
}