.button{
    button{
        width: 233px;
        height: 49px;
        color: #FFFFFF;
        background-color: #6D6B6B;
        border-radius: 2px;
        border: none;
        cursor: pointer;
        font-style: bold;
        font-size: 16px;
        line-height: 26px;
        position: relative;
    }

    button::before, button::after{
        content:"";
        width: 0;
        height: 2px;
        position: absolute;
        transition: all 0.2s linear;
        background: #fff;
      }

    span::before, span::after{
        content:"";
        width:2px;
        height:0;
        position: absolute;
        transition: all 0.2s linear;
        background: #fff;
      }

    button:hover::before, button:hover::after{
        width: 100%;
      }

    button:hover span::before, button:hover span::after{
        height: 100%;
      }

    button::after{
        left:0;
        bottom: 0;
        transition-duration: 0.4s;
      }
    button span::after{
        right:0;
        top: 0;
        transition-duration: 0.4s;
      }
    button::before{
        right: 0;
        top: 0;
        transition-duration: 0.4s;
      }
    button span::before{
        left: 0;
        bottom: 0;
        transition-duration: 0.4s;
      }
}