.button{
    button{
        width: 233px;
        height: 49px;
        color: #FFFFFF;
        background-color: #6D6B6B;
        border-radius: 2px;
        border: none;
        cursor: pointer;
        font-style: bold;
        font-size: 16px;
        line-height: 26px;
    }
}